
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
  hola
</div>
<div class="container-father">
    <p>Personajes Dragon Ball Z</p>
    <h2>Caracters </h2>
    <div class="card-container" *ngIf="!errorMessage">
        @for (item of personajes; track item) {
            <div class="card">
                <img [src]="item.image" alt="{{item.name}}">
                <div class="card-body">
                    <p class="card-text"><strong>{{item.name}}</strong></p>
                </div>
            </div>
        }
    </div>
</div>



